<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webchat-登录</title>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>



    <div class="logon login-form">
        <h1>登录</h1>

       <input type="text" id = "login_name" name = "login_name" placeholder="账号"/>

       <input type="password" id = "password" name="password" placeholder="密码"/>

        <button id = "submit">登录</button>
    </div>
</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    $('#submit').click(function(){

        var login_name = $('#login_name').val();
        console.log(login_name);
        if (!login_name) {
            alert("账号必填");
            return;
        }
        var password  = $('#password').val();
        console.log(password);
        if (!password) {
            alert("密码必填");
            return;
        }


        $.ajax({

            url: 'submit/login',
            type: 'post',
            // 设置的是请求参数
            data: {
                "login_name": login_name,
                "password" : password,
            },

            dataType: 'json', // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                console.log(res);
                if (res.code === 10000) {

                    window.location.href = '/';
                } else {
                    alert("登录失败")
                    alert(res.message)
                }


            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader("User-Agent", "uTorrent");
            },
            error: function (res) {

                console.log('error'+ res);


            }
        });
    })
</script>
</html>
