<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webchat-注册</title>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/login.css">

</head>
<body>



    <div class="logon login-form">
        <h1>注册</h1>
      <input type="text" id = "nick_name" name = "nick_name" placeholder="昵称"/>

       <input type="text"  id = "login_name" name = "login_name" placeholder="邮箱"/>

       <input type="password" id = "password" name="password" placeholder="请输入密码"/>

       <input type="password" id = "confirm_password"  name="confirm_password" placeholder="确认密码"/>

        <button id = 'submit' type="submit" >注册</button>
    </div>

</body>
<script src="/static/js/jquery.min.js"></script>
<script>
    $('#submit').click(function(){

        var nick_name = $('#nick_name').val();
        if (!nick_name) {
           alert("昵称必填");
           return;
        }
        var login_name = $('#login_name').val();
        console.log(login_name);
        if (!login_name) {
            alert("账号必填");
            return;
        }
        var password  = $('#password').val();
        console.log(password);
        if (!password) {
            alert("密码必填");
            return;
        }
        var confirm_password = $('#confirm_password').val();
        console.log(confirm_password);
        if (!confirm_password || password !== confirm_password) {
            alert("密码不相等");
            return;
        }

        $.ajax({
            url: '/create/user',
            type: 'post',
            // 设置的是请求参数
            data: {
                "nick_name": nick_name,
                "login_name": login_name,
                "password" : password,
                "confirm_password" :confirm_password
            },
            dataType: 'json', // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串
                console.log(res.code);
                if (res.code === 10000) {
                    alert("注册成功")
                    window.location.href = "/login";
                } else {
                    alert(res.message)
                }


            },
            error: function (res) {

                console.log('error'+ res);


            }
        });
    })
</script>

</html>
