<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>webchat</title>
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/iconfont.css">
</head>
<body >

    <div class="cen">
        <div class="top">
            <span class="chatRoomName">聊天室</span>
            <span class="peopleNumber">
                1/1
            </span>

        </div>
        <div>
             <!-- 基础信息 -->
            <div class="base">
                <!-- 用户头像 -->
                <img class="userLogo" src="" alt="">
                <spn class="userId"></spn>
                <spn class="name"></spn>
                <a href="/login" class="login"><img src="/static/images/登录.png" alt="登录"></a>
                <a href="/register" class="register"><img src="/static/images/注册.png" alt="注册"></a>


            </div>
             <!-- 聊天区域 -->
             <div class="message">


             </div>
            <!-- 用户信息 -->
            <div class="userList">
                <ul></ul>
            </div>

        </div>


        <!-- 打字区域 -->
        <div class="world">
            <textarea class="send" ></textarea>

            <button type="button" onclick="send()" class="sendButton">发送</button>
        </div>

    </div>


</body>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/socket.io.min.js"></script>

<script>
    $(function(){
        $.ajax({
            url: 'room/info',
            type: 'post',
            // 设置的是请求参数
            data: {},
            dataType: 'json', // 用于设置响应体的类型 注意 跟 data 参数没关系！！！
            success: function (res) {
                // 一旦设置的 dataType 选项，就不再关心 服务端 响应的 Content-Type 了
                // 客户端会主观认为服务端返回的就是 JSON 格式的字符串

                const userInfo = res.data.userInfo;
                const room     = res.data.room;
                const userList = res.data.user_list;
                console.log(res)
                if (res.code === 10000) {
                    $('.userId').text(userInfo.id)
                    $('.name').text(userInfo.nick_name)

                    $('.userLogo').attr('src',userInfo.photo);
                    $('.chatRoomName').text(room.roomName);

                    userList.forEach(function(element) {
                        console.log(element);
                        $('.userList > ul').append("<li>"+element.nick_name+"</li>");

                    });
                }
            },
            error: function (res) {
                console.log('error'+ res);
            }
        });
    })


    var socket = io("http://127.0.0.1:9501/", {transports: ['websocket']});
    socket.io.on('open',(data)=>{
        //监听浏览器通过msg事件发送的信息
        console.log('连接成功');
    });

    socket.io.on('close',(data)=>{
        //监听浏览器通过msg事件发送的信息
        console.log('连接成功');

    });

    socket.io.on('error',(data)=>{
        //监听浏览器通过msg事件发送的信息
        console.log('连接成功');
    });

    socket.on('testcallback',(data)=>{
        //监听浏览器通过msg事件发送的信息
        console.log(data);//你好浏览器

        const $user_id = $('.userId').text();
        console.log("用户：" + $user_id);
        if (data.user_id == $user_id) {
            $('.message').append(
                "<span class='time-line'>" + data.send_time +"</span>",
                "<div class='my-userInfo'> <a  href='#' class = 'my-userInfo-logo'><img src="+data.userLogo +"></a><div class='my-userInfo-msg'><h4>"+data.name+"</h4><textarea readonly = 'readonly'>"+data.msg+"</textarea></div></div>",

            );
        } else {

            $('.message').append(
                "<span class='time-line'>" + data.send_time +"</span>",
                "<div class='userInfo'> <a  href='#' class = 'userInfo-logo'><img src="+data.userLogo +"></a><div class='userInfo-msg'><h4>"+data.name+"</h4><textarea readonly = 'readonly'>"+data.msg+"</textarea></div></div>",

            );
        }




    });

    function send() {
        const $user_id = $('.userId').text();
        const $name = $('.name').text();
        const $msg = $('.send').val();
        const $userLogo = $('.userLogo')[0].src;
        socket.emit("test",{
            "user_id": $user_id,
            "name": $name,
            "msg": $msg,
            "userLogo":$userLogo,
        })
    }

</script>

</html>
